---
import MainLayout from "../layouts/MainLayout.astro";
import Steps from "../components/Steps.astro";
import { Image } from 'astro:assets';
import mockup from "../assets/images/mockup.png";
import bind from "../assets/images/om_bind.png";
import tampon from "../assets/images/om_tampon.png";
import selfcare from "../assets/images/om_selfcare.png";
import info1 from "../assets/images/info.svg";
import info1hover from "../assets/images/infohover.svg";
import info2 from "../assets/images/info2.svg";
import info2hover from "../assets/images/info2hover.svg";
import info3 from "../assets/images/info3.svg";
import info3hover from "../assets/images/info3hover.svg";
import info4 from "../assets/images/info4.svg";
import info4hover from "../assets/images/info4hover.svg";
import info5 from "../assets/images/info5.svg";
import info5hover from "../assets/images/info5hover.svg";
import info6 from "../assets/images/info6.svg";
import info6hover from "../assets/images/info6hover.svg";
import Wave from "../components/Wave.astro";
import Button from '../components/Button.astro';
---

<MainLayout title="Om pakken">
    <a href="/">forside</a>

    <section>
    <div class="md:grid md:grid-cols-2 ">
          <div class="mb-m flex flex-col gap-sm mx-xs md:mx-2xl md:mt-2xl">
                <h2 class="text-red-800">Nysgerrig på din <br> nye bedste ven?</h2>
                <h4 class="text-red-700">Få mere information <br> om indholdet i pakken</h4>
          </div>
          <Image class="hidden w-11/12 md:block" src={mockup} alt="mockup af pakke"/>
    </div>

    <div class="grid grid-rows-3 md:grid-rows-4 gap-ml md:grid-cols-3 md:max-h-full   mx-xs  md:mx-2xl  md:mt-[-10%]">
        <div class="flex flex-row md:flex-col gap-sm md:row-end-3 md:row-start-1">
            <Image class="h-[200px] w-auto md:w-full md:h-full " src={bind} alt="bind"/>
            <div>
                <h4 class="text-blue-900">Pålidelige bind</h4>
                <p class="text-red-950">Bløde, sikre og altid der, når du har brug for dem. Vores bind er designet til at give dig ro i sindet – uanset om du chiller på sofaen eller løber til bussen. Komfort møder pålidelighed.</p>
            </div>
        </div>

        <div class="flex flex-row md:flex-col gap-sm  md:row-start-2 md:row-end-4 md:col-start-2 md:col-end-3 ">
            <Image class="h-[200px] order-last md:order-first w-auto md:w-full  md:h-full" src={tampon} alt="tampon"/>
            <div class="">
                <h4 class="text-blue-900">Komfortable tamponer</h4>
                <p class="text-red-950">Små, diskrete og klar til at følge dig overalt. Vores tamponer er som din bedste ven – altid der, når du har brug for støtte. Slip for bekymringer og få friheden tilbage!       </p>
            </div>
        </div>

        <div class="flex flex-row md:flex-col gap-sm md:row-end-5 md:row-start-3  md:col-start-3 md:col-end-4 ">
            <Image class="h-[200px] w-auto md:w-full md:h-full " src={selfcare} alt="selfcare"/>
            <div class="">
                <h4 class="text-blue-900">Self-care goodies</h4>
                <p class="text-red-950">Bløde, sikre og altid der, når du har brug for dem. Vores bind er designet til at give dig ro i sindet – uanset om du chiller på sofaen eller løber til bussen. Komfort møder pålidelighed.</p>
            </div>
        </div>
    </div>
    
</section>
<div class=" ml-sm mt-sm md:ml-lg md:mt-[-10%] flex flex-col md:row-start-3 md:row-end-4 md:col-start-1 md:col-end-3 mb-4xl ">
    <h5 class="text-blue-900 pb-xs pl-m">Lyder det som noget for dig?</h5>
    <Button>Få abonnement</Button>
</div>

   <section>
<div class="rotate-180 overflow-clip w-auto"><Wave></Wave></div>
        <section class="md:grid md:grid-cols-2 bg-red-50/60 md:gap-xs ">
            <div class=" grid grid-cols-2 gap-xs mb-xs mx-ml ">
                <div class="img-box img-fluid col-span-2">
                    <Image class="image1 " src={info1} alt="info"/>
                    <Image class="image2 " src={info1hover} alt="info hover"/>
                </div>
                <div class="img-box img-fluid">
                    <Image class="image1 " src={info2} alt="info"/>
                    <Image class="image2 " src={info2hover} alt="info hover"/>
                </div>
                <div class="img-box img-fluid">
                    <Image class="image1 " src={info3} alt="info"/>
                    <Image class="image2 " src={info3hover} alt="info hover"/>
                </div>
            </div>
            <div class="grid grid-cols-2 gap-xs  mx-ml">
                <div class="img-box img-fluid col-span-2 md:order-last">
                    <Image class="image1 " src={info4} alt="info"/>
                    <Image class="image2 " src={info4hover} alt="info hover"/>
                </div>
                <div class="img-box img-fluid">
                    <Image class="image1 " src={info5} alt="info"/>
                    <Image class="image2 " src={info5hover} alt="info hover"/>
                </div>
                <div class="img-box img-fluid">
                    <Image class="image1 " src={info6} alt="info"/>
                    <Image class="image2 " src={info6hover} alt="info hover"/>
                </div>
            </div>
         
        </section>
    <div class=" overflow-clip w-auto"><Wave></Wave></div>
   </section>

    <div class="mt-lg"><Steps></Steps></div>

    <section class="flex flex-col gap-ml items-center mt-ml mb-xl">
        <h3 class="text-red-800 text-center">Få en menstruationspakke, <br> som tager sig af dig</h3>
        <div class="text-red-950 text-center flex flex-col gap-s">
            <p>Din cyklus, din komfort.</p>
            <p>Med et abonnement hos os, er der ingen stress, kun self-care. <br>
                Tilmeld dig Period. abonnementet i dag, og mærk forskellen!</p>
        </div>
        <Button variant="primary" size="medium">Abonnér</Button>
    </section>

</MainLayout>

<style>


.img-box{
    max-height: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    object-fit: contain;
}

@media (min-width: 769px) {
    .img-box{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.image1{
    position: relative;
    transition: 0.5s ease-in-out;
}

.image2{
    position: absolute;
    transition: 0.5s ease-in-out;
    opacity: 0;
}

.img-box:hover .image1{
  opacity: 0;
}

.img-box:hover .image2{
   opacity: 100%;
}

</style>
