---
import { Image } from 'astro:assets';
import step1 from "../assets/images/bg.png";
import step2 from "../assets/images/stepp2.png";
import step3 from "../assets/images/stepp3.png";
import drop from "../assets/images/drop.svg";
---

<section class="md:flex md:flex-row md:justify-between mx-sm">
    <div class="flex flex-row md:flex-col md:items-center">
        <h4 class="text-blue-800 pb-s">Step 1</h4>
        <Image class="shadow-dropblue h-[300px] w-[300px] rounded-full object-cover pb-s" src={step1} alt="step 1"/>
        <p class="md:text-center md:w-[313px] text-red-950">Vælg de produkter, du har brug for - bind, tamponer og self-care som chokolade og te. Tilpas den, så den passer til din cyklus.</p>
    </div>

    <Image  src={drop} alt="drop"/>


    <div class="flex flex-row md:flex-col md:items-center">
        <h4 class="text-blue-800 pb-s">Step 2</h4>
        <Image class="shadow-dropblue h-[300px] w-[300px] rounded-full object-cover pb-s"  src={step2} alt="step 2"/>
        <p class="md:text-center md:w-[313px] text-red-950">Få din pakke leveret direkte til din dør, lige når du skal bruge den - altid diskret og på dine præmisser.</p>    
    </div>
 

    <Image  src={drop} alt="drop"/>

    <div class="flex flex-row md:flex-col md:items-center">
        <h4 class="text-blue-800 pb-s">Step 3</h4>
        <Image class="drop-shadow-dropblue h-[300px] w-[300px] rounded-full object-cover pb-s"  src={step3} alt="step 3"/>
        <p class="md:text-center md:w-[313px] text-red-950">Nyd en nemmere menstruation med alt, hvad du har brug for, samlet i én pakke. Self-care har aldrig været lettere!</p>
    </div>


</section>